.contenido-inner-2 {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 0;
  z-index: 1;
  //min-height: 100%;
  min-height: var(--original-viewport-height);
  width: 100%;
}

.contenido-inner {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  top: 0;
  z-index: 2;
  max-height: 100%;
  overflow: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--ion-color-light);
  overflow: hidden;
}

.card-padre {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.card {
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--ion-color-light-contrast);
  height: 100%;
  width: calc(((100% - 125px - 40px)/ 2));
  border-radius: 10px;
}

.local {
  order: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  ion-button {
    width: 100%;
    height: 100%;
    --border-radius: 10px;
  }

  ion-input {
    top: 0px;
    font-size: xx-large;
    position: absolute;
    text-align: center;
  }

  ion-label {
    margin-top: 30px;
    font-size: 28vw;
  }
}

.visit {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  ion-button {
    width: 100%;
    height: 100%;
    --border-radius: 10px;
  }

  ion-input {
    top: 0px;
    position: absolute;
    text-align: center;
    font-size: xx-large;
  }

  ion-label {
    margin-top: 30px;
    font-size: 28vw;
  }
}

.win {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  position: absolute;
  bottom: 20px;

  ion-button {
    width: 150px;
  }
}

.logo-trawen {
  position: absolute;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  img {
    height: 70px;
  }
}

.setting {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 125px;
  order: 1;
  position: relative;

  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.b-local {
  order: 1;
  width: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  ion-icon {
    font-size: xx-large;
    color: var(--ion-color-success) !important;
  }
}

.b-reboot {
  order: 2;
  width: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  ion-icon {
    font-size: xx-large;
  }
}

.b-visit {
  order: 3;
  width: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  ion-icon {
    font-size: xx-large;
    color: var(--ion-color-success);
  }
}

.i-maxpoint {
  order: 4;
  width: 100%;
  margin-top: 10px;
  height: 24px;
  border: 1px solid var(--ion-color-light);
  border-radius: 7px;
  padding: 4px;
  font-size: x-small;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-select {
    width: 35px;
    margin-right: 5px;
  }
}

.i-diferencia {
  order: 5;
  width: 100%;
  margin-top: 10px;
  height: 24px;
  border: 1px solid var(--ion-color-light);
  border-radius: 7px;
  padding: 4px;
  font-size: x-small;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-checkbox {
    margin-right: 5px;
    --size: 12px;
    --border-radius: 2px;
    --border-color: var(--ion-color-light);
    --border-width: 1px;
    --checkbox-background: var(--ion-color-light-contrast);
  }

  ion-checkbox.ion-color-secondary {
    --ion-color-contrast: var(--ion-color-light-contrast) !important;
  }
}

.sets {
  order: 6;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 30px;

  ion-label {
    font-size: 45px;
  }

  ion-button {
    width: 50px;
  }

  .sets-local {
    order: 1;
  }

  .label {
    order: 2;
  }

  .sets-visit {
    order: 3;
  }
}

.rrss {
  order: 7;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  ion-button {
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
  }

  img {
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
  }
}

.b-change {
  position: absolute;
  bottom: -28px;
  font-size: x-large;

  ion-button {
    font-size: large;
  }
}

.b-historial {
  position: absolute;
  top: 40px;
  z-index: 10;

  transition: all 0.2s ease-in-out;
}

.menu {
  width: 45px;
  background-color: var(--ion-color-dark);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  z-index: 10;
  top: 40px;
  right: 0px;
  border: 1px solid var(--ion-color-light);
  border-right: 0px;

  transition: all 0.2s ease-in-out;

  ion-button {
    margin: 5px;
  }
}

.invert {
  .local {
    order: 2;
  }

  .visit {
    order: 0;
  }

  .b-visit {
    order: 1
  }

  .b-local {
    order: 3
  }

  .sets {

    .sets-local {
      order: 3;
    }

    .label {
      order: 2;
    }

    .sets-visit {
      order: 1;
    }
  }
}

.tablet {

  .invert {
    .local {
      order: 2;
    }

    .visit {
      order: 0;
    }

    .b-visit {
      order: 1
    }

    .b-local {
      order: 7
    }

    .sets {

      .sets-local {
        order: 3;
      }

      .label {
        order: 2;
      }

      .sets-visit {
        order: 1;
      }
    }
  }

  .card {
    margin-left: 20px;
    margin-right: 20px;
    height: calc((100% - 170px - 30px));
    width: calc(((100% - 80px)/ 2));
  }

  .local {
    ion-input {
      font-size: 50px;
    }

    ion-label {
      font-size: 30vw;
    }
  }

  .visit {
    ion-input {
      font-size: 50px;
    }

    ion-label {
      font-size: 30vw;
    }
  }

  .logo-trawen {
    top: -60px;
    z-index: 2;

    img {
      height: 120px;
    }
  }

  .setting {
    order: 3;
    width: 100%;
    height: 170px;
    margin-left: 20px !important;
    margin-right: 20px !important;
    flex-wrap: nowrap;
  }

  .b-local {
    width: calc((100% / 7) + 4%);
    flex-wrap: nowrap;

    ion-button {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    ion-button[pos="1"] {
      margin-left: 15%;
    }

    ion-button[pos="2"] {
      margin-left: 5%;
    }

    ion-icon {
      font-size: 70px;
    }
  }

  .b-reboot {
    width: calc((100% / 7) - 4% + 25px);
    transform: translate(50%, -20px);
    margin-bottom: 10px;

    ion-icon {
      font-size: 55px;
    }
  }

  .b-visit {
    order: 7;
    width: calc((100% / 7) + 4%);
    flex-wrap: nowrap;

    ion-button {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    ion-button[pos="2"] {
      margin-right: 15%;
    }

    ion-button[pos="1"] {
      margin-right: 5%;
    }

    ion-icon {
      font-size: 70px;
    }
  }

  .i-maxpoint {
    order: 5;
    width: calc((100% / 7) - 4% + 25px);
    transform: translate(50%, -20px);
    font-size: medium;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 30px;

    ion-select {
      width: 47px;
    }
  }

  .i-diferencia {
    order: 6;
    width: calc((100% / 7) - 4% + 25px);
    transform: translate(-50%, 20px);
    font-size: medium;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 30px;

    ion-checkbox {
      --size: 17px;
    }
  }

  .sets {
    order: 4;
    width: calc(100% / 7);

    ion-label {
      font-size: 60px;
    }

    ion-button {
      width: 70px;
    }
  }

  .rrss {
    order: 3;
    width: calc((100% / 7) - 4% + 25px);
    transform: translate(-50%, 20px);


    ion-button {
      height: 40px;
      margin-top: 10px;
    }

    img {
      margin-left: 10px;
      margin-right: 10px;
      height: 30px;
    }
  }

  .b-change {
    bottom: -45px;

    ion-button {
      font-size: xx-large;
    }
  }

  .b-historial {
    top: 40px;
    right: 0px;
    z-index: 10;

    ion-button {
      font-size: xx-large;
    }
  }

  .menu {
    width: 55px;

    ion-button {
      font-size: xx-large;
    }
  }
}