<ion-content [fullscreen]="true" [class]="!movileDesign?'tablet':''">
  <div class="contenido-inner-2" [style.background-image]="'url(' + 'assets/fondo.jpg' + ')' ">
  </div>

  <div class="contenido-inner" *ngIf="set()!=null" >
    <div class="b-historial" [style]="isTablet && !movileDesign?!isOpenMenu?'right: 3px;':'right: 56px;':!isOpenMenu?'right: 3px;':'right: 46px;'">
      <ion-button fill="clear" (click)="pressMenu()" color="light">
        <ion-icon [name]="!isOpenMenu?'chevron-back-circle-outline':'chevron-forward-circle-outline'"></ion-icon>
      </ion-button>
    </div>
    <div class="menu" [style]="isTablet && !movileDesign?!isOpenMenu?'right: -55px;':'right: 0px;':!isOpenMenu?'right: -45px;':'right: 0px;'">

      <ion-button fill="clear" color="light">
        <ion-icon name="list-circle-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="light" *ngIf="isTablet" (click)="changeDesign()">
        <ion-icon name="sync-circle-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="light">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>

    </div>
    <div [class]="invert?'card-padre invert':'card-padre'">
      <div class="local card">
        <ion-input [ngModel]="set()?.nameLocal" (change)="onChangeName($event,1)" (keyup.enter)="onEnterPress($event)"></ion-input>
        <ion-button fill="clear" color="light" (click)="onChangePoint(1,1,1)" (touchstart)="onButtonTouchStart(1,2,1)" (touchend)="onButtonTouchEnd()">
          <ion-label>{{set()?.local}}</ion-label>
        </ion-button>
        <div class="win" *ngIf="localWin()" >
          <ion-button color="primary" (click)="onWin(1)">
            Ganador!
          </ion-button>
        </div>
      </div>
      <div class="setting card">
        <div class="logo-trawen">
          <img src="assets/logoTrawenBorde.png" />
        </div>
        <div class="b-local">
          <ion-button style="margin-bottom: 10px;" (click)="onChangePoint(1,1,1,false)" pos="1" fill="clear" color="success">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
          <ion-button style="margin-top: 10px;"(click)="onChangePoint(1,2,1,false)" pos="2" fill="clear" color="success">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="b-reboot">
          <ion-button fill="clear" color="light" (click)="onReboot()"  (touchstart)="onButtonTouchStart(-1,-1,-1)" (touchend)="onButtonTouchEnd()">
            <ion-icon name="refresh-circle-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="b-visit">
          <ion-button style="margin-bottom: 10px;" (click)="onChangePoint(2,1,1,false)" pos="1" fill="clear" color="success">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
          <ion-button style="margin-top: 10px;" (click)="onChangePoint(2,2,1,false)" pos="2" fill="clear" color="success">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="i-maxpoint">
          <ion-select mode="ios" color="secondary" interface="popover" [ngModel]="set()?.maxPoint" (ngModelChange)="onChangeMaxPoint($event)">
            <ion-select-option *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]"
              [value]="item">{{item}}</ion-select-option>
          </ion-select><ion-label>Puntos</ion-label>
        </div>
        <div class="i-diferencia">
          <ion-checkbox color="secondary" [ngModel]="set()?.difference" (ngModelChange)="onChangeDifference($event)"></ion-checkbox> <ion-label>Diferencia</ion-label>
        </div>
        <div class="sets">
          <ion-button class="sets-local" fill="clear" color="light" (click)="onChangePoint(1,1,2)" (touchstart)="onButtonTouchStart(1,2,2)" (touchend)="onButtonTouchEnd()">
            <ion-label>{{set()?.setsLocal}}</ion-label>
          </ion-button>
          <ion-label class="label" style="font-size: 30px;">-</ion-label>
          <ion-button class="sets-visit" fill="clear" color="light" (click)="onChangePoint(2,1,2)" (touchstart)="onButtonTouchStart(2,2,2)" (touchend)="onButtonTouchEnd()">
            <ion-label>{{set()?.setsVisit}}</ion-label>
          </ion-button>
        </div>
        <div class="rrss">
          <ion-button fill="clear" color="light" (click)="openFacebook('100092176112864')">
            <img src="assets/facebook.png" />
          </ion-button>
          <ion-button fill="clear" color="light" (click)="openInstagram('trawen_nuble')">
            <img src="assets/instagram.png" />
          </ion-button>
        </div>

        <div class="b-change">
          <ion-button fill="clear" color="light" (click)="onInvert()">
            <ion-icon src="assets/switch-icon.svg"></ion-icon>
          </ion-button>
        </div>
      </div>
      <div class="visit card">
        <ion-input [ngModel]="set()?.nameVisit" (change)="onChangeName($event,2)"  (keyup.enter)="onEnterPress($event)"></ion-input>
        <ion-button fill="clear" color="light" (click)="onChangePoint(2,1,1)"  (touchstart)="onButtonTouchStart(2,2,1)" (touchend)="onButtonTouchEnd()">
          <ion-label>{{set()?.visit}}</ion-label>
        </ion-button>
        <div class="win" *ngIf="visitaWin()" >
          <ion-button color="primary" (click)="onWin(2)">
            Ganador!
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>